*.pyc
venv/
/.pulumi/
/.vscode/
/.vs/
bin/
build/
node_modules/
*.pyc
.Python
include/
lib/
yarn.lock
package-lock.json
Pulumi.*.yaml
Pulumi.*.yaml.back
.idea/
.ionide/
*.iml
key.rsa*
obj/

# Java app
.gradle/
.settings/
.project
.classpath
